.container{
	width: 100%;
	max-width: 1790px;
	
	padding: 0 10px;
	margin: 0 auto;
}

.main-title-loook-book .container{
	position: relative;
}

.main-title-loook-book .container::after{
	content:'';
	display: block;
	
	position: absolute;
	bottom:-37px;
	left:0;

	width: 100%;
	height: 2px;

	background-color: #eeeeee;
}

/*Product
========================*/
.products .container{
	position: relative;
	margin-bottom: 62px;
}

.products .container::after {
	content:'';
	display: block;
	
	position: absolute;
	bottom:-34px;
	left:0;

	width: 100%;
	height: 2px;

	background-color: #eeeeee;
}

.categories.list {
	display: flex;
	flex-wrap: wrap;
	
	margin-bottom: 62px;
}

.categories li{
	margin-right: 55px;
}

.categories button{
	background-color: transparent;
	bottom: 0;
	margin: 0;
	padding: 0;
	border:0;
	
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;

	color:#727272;
}

.categories button:hover{
	color:#00c8c8;
}

.categories .selected{
	color:#00c8c8;
}

.products-list{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products-column {
	width: 100%;
	margin-right: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.products-column:last-child{
	margin-right: 0;
}

.product-item{
	position: relative;

	width: 100%;
	max-width: 420px;
	margin-bottom: 30px;

	background-color: #f8f8f8;
}

.product-item.long{
	max-width: 870px;
}

.product-item.long .img-container{
	position: absolute;
	left:0;
	top:0;

	width: 100%;
}

.product-item.long .lookbook-description p{
	max-width: 305px;
}

.product-item.too-long{
	max-width: 1320px;
}

.product-item.too-long .img-container{
	position: absolute;
	left:0;
	top:0;

	width: 100%;
}

.product-item.too-long .lookbook-description p{
	max-width: 510px;
}

.product-item:hover .item-btns-container,
.product-item:focus .item-btns-container{
	display: flex;
}

.product-item:hover .other-img,
.product-item:hover .product-description{
	display: flex;
}

.product-item:hover,
.product-item:hover .product-description{
	box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.1);
}

.img-container {
	position: relative;
	
	overflow: hidden;

	width: 100%;
	height: 500px;
}

.price {
	position: absolute;
	left:15px;
	top:15px;

	display: flex;
	align-items: center;
}

.cur-price {
	position: relative;

	font-size: 21px;
	font-weight: normal;
	color:#9a9a9a;

	z-index: 2;
}

.cur-price b{
	position: relative;
	top:-8px;
	left:0px;

	font-size: 13px;
	font-weight: normal;
}

.main-img {
	position: absolute;
	left:50%;
	top:0;

	display: block;

	height: 100%;
	width: auto;
	
	transform: translateX(-50%);
}

.item-btns-container{
	position: absolute;
	bottom: 115px;

	width: 100%;
	height: 42px;

	display: none;
	justify-content: center;
	align-items: center;
}

.item-btns-container a{
	display: inline-block;

	text-decoration: none;

	margin-right: 30px;
}

.item-btns-container a:first-child{
	margin-right: 0;
}

.item-btns-container a:last-child{
	margin-right: 0;
}

.item-btns-container a:hover path{
	fill:#00c8c8;
}

.item-btns-container svg{
	width: 42px;
	height: auto;
}

.item-btns-container svg path{
	fill:#fff;
}

.other-img {
	position: absolute;
	right:10px;
	top:10px;

	display: none;
	flex-direction: column;
}

.other-img button{
	position: relative;

	background-color: transparent;
	border:0;
	margin: 0;
	padding: 0;
	
	width: 80px;
	height: 100px;

	margin-bottom: 17px;

	background-color: #575153;
}

.other-img button img{
	display: block;
	width: 100%;
	min-height: 100%;
}

.product-description {
	position: absolute;
	bottom: 0;
	left:0;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;

	z-index: 10;

	padding:18px 50px;

	text-align: center;
	font-size: 13px;
	font-weight: bold;

	background-color: #fff;

	transform: translateY(100%);
}

.product-description h3{
	margin: 0;
	margin-bottom: 14px;

	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	
	color:#727272;

}

.product-description h4{
	margin: 0;
	margin-bottom: 17px;

	font-size: 13px;
	font-weight: bold;
	line-height: 22px;

	color:#8e8c8c;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 118px;
}

.action {
	position: relative;

	background-color: transparent;
	border:0;
	margin: 0;
	padding: 0;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	background-color: #727272;
}

.action:hover{
	background-color: #00c8c8;
}

.action svg{
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	
	fill:#fff;

	width: 17px;
	height: 17px;

	transform: translate3d(-50%,-50%,0);
}


/*Lookbook-item
=================================*/
.lookbook-description{
	position: relative;

	width: 100%;
	min-height: 500px;
	padding: 50px 15px;
	
	z-index: 1;
}

.lookbook-description h3{
	margin: 0;
	margin-bottom: 15px;

	font-size: 48px;
	line-height: 54px;
	font-weight: 300;
	text-transform: uppercase;

	color:#575153;
}

.lookbook-description p{
	display: block;
	
	margin: 0;
	margin-bottom: 20px;

	font-family: Roboto;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;

	color:#8e8c8c;
}

.lookbook-description .lookbook-subtitle{
	font-family: Montserrat;
	display: block;

	margin: 0;
	margin-bottom: 15px;

	font-size: 13px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;

	color:#727272;
}

.lookbook-description .lookbook-link{
	margin-top: 0;
}

.lookbook-description + .img-container{
	z-index: -1;
}

.marketing-banner{
	position: absolute;
	right:15px;
	bottom:115px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	text-align: right;
	font-weight: bold;
	text-transform: uppercase;

	color:#00c8c8;
}

.marketing-title{
	line-height: 142px;
	font-size: 200px;

	margin-bottom: 30px;
}

.marketing-subtitle{
	font-size: 72px;
	line-height: 55px;
}

/*Big product
=====================================*/
.big-product{
	width: 100%;
	max-width: 870px;
	margin-bottom: 30px;
}

.big-product .product-item{
	min-height: 500px;
	z-index: 1;
}

.big-product .product-item .img-container{
	max-width: 100%;
}


/*Lookbook
==================================*/
.lookbook {
	position: relative;

	width: 100%;
	max-width: 2070px;
	
	padding: 0 10px;

	margin: 0 auto;
	margin-top: 95px;
	margin-bottom: 124px;
}

.lookbook-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lookbook-item {
	position: relative;

	width: 100%;
	max-width: 656px;
	min-height: 530px;
	
	margin-right: 40px;

	text-align: right;
	font-size: 15px;
	font-weight: normal;
	
	padding: 0 57px;
	padding-top: 85px;

	background-color: #f8f8f8;

	z-index: 1;
}

.lookbook-item:last-child{
	margin-right: 0;
}

.lookbook-item h3{
	margin: 0;

	font-size: 48px;
	line-height: 54px;
	letter-spacing: 50;
	
	font-weight: normal;

	text-transform: uppercase;

	color:#575153;
}

.lookbook-item p{
	display: block;

	font-family: 'Roboto', sans-serif;
	margin: 0;

	font-size: 15px;
	font-weight: normal;
	line-height: 22px;
	color:#727272;
	z-index: 2;
}

.lookbook-link {
	display: inline-block;
	
	margin: 0;
	margin-top: 30px;

	text-decoration: none;
}

.lookbook-link span{
	display: flex;
	justify-content: center;
	align-items: center;


	text-align: center;

	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 5px;

	width: 180px;
	height: 59px;
	
	border:2px solid #737373;

	color:#454647;
	background-color: #f8f8f8;
}

.lookbook-link:hover span{
	background-color: #00c8c8;
	border-color: #00c8c8;
	color:#fff;
}

.lookbook-img {
	position: absolute;
	left:39px;
	top: 43px;

	display: block;

	max-height: 100%;
	width: auto;

	z-index: -1;
}


/*Media
==========================================*/
@media (max-width: 2047px){
	.lookbook-list{
		justify-content: center;
	}

	.lookbook-item{
		margin-bottom: 40px;
	}

	.lookbook-item:last-child{
		margin-bottom: 0;
	}
}


@media (max-width: 1790px) {
	.product-item.long{
			max-width: 32%;
	}

	.product-item.too-long{
			max-width: 32%;
	}

	.product-item{
		max-width: 32%;
		margin-right: 0;
	}
	
	.product-item.long .img-container,
	.product-item.too-long .img-container{
		display: none;
	}

	.product-item.long .lookbook-description p,
	.product-item.too-long .lookbook-description p{
		max-width: 100%;
		margin-bottom: 10px;
	}

	.lookbook-description{
		padding: 30px 15px;
	}

	.lookbook-description h3{
		font-size: 43px;
		margin-bottom: 10px;
	}
	
	.lookbook-description .lookbook-link{
		display: inline-block;
		margin-top: 30px;
	}

	.marketing-banner{
		bottom: 20px;
	}

	.marketing-title{
		font-size: 100px;
		line-height: 70px;
		margin-bottom: 0;
	}

	.marketing-subtitle{
		font-size: 47px;
	}
}

@media (max-width: 1500px) {
	.marketing-banner{
		display: none;
	}
}

@media (max-width: 1400px) {
	.product-item.long{
			max-width: 100%;
	}

	.product-item.too-long{
			max-width: 100%;
	}

	.product-item{
		max-width: 49%;
		margin-right: 0;
	}

	.product-item:last-child{
		max-width: 100%;
	}

	.lookbook-description{
		min-height: 400px;
	}
}

@media (max-width: 992px) {
	.categories.list{
		justify-content: space-around;
	}

	.categories.list li{
		margin: 0;
		padding: 0 5px;
		margin-bottom: 10px;
	}
}

@media (max-width: 768px) {
	.product-item.big-product{
			max-width: 100%;
	}

	.product-item{
		max-width: 100%;
	}

	.product-item:last-child{
		margin-bottom: 0;
	}

	.img-container{
		height: 380px;
	}
	
	.products .container::after{
		bottom:-32px;
	}
	
	.lookbook-description{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		min-height: 380px;
		text-align: center;
	}

	.lookbook-description h3{
		margin-bottom: 0;
		font-size: 40px;
	}
	
	.lookbook-description .lookbook-subtitle{
		margin-bottom: 10px;
		font-size: 15px;
	}

	.product-item.long .lookbook-description p,
	.product-item.too-long .lookbook-description p{
		max-width: 600px;
		font-size: 14px;
	}


	.lookbook{
		margin-top: 60px;
		margin-bottom: 30px;
	}

	.lookbook-item{
		display: flex;
		justify-content: center;
		align-items:center;
		flex-direction: column;
		
		padding: 0;
		min-height: 350px;

		text-align: center;
		margin-right: 0;
	}

	.lookbook-item img{
		display: none;
	}
}

@media (max-width: 576px) {
	.main-title-loook-book .container::after{
		bottom:-19px;
	}
}

@media (max-width: 480px) {
	.categories.list{
		flex-direction: column;
		align-items: center;

		margin-bottom: 30px;
	}

	.lookbook-item h3{
		font-size: 40px;
	}

	.lookbook-item p{
		font-size: 14px;
	}

	.title-page{
		margin-bottom: 60px;
	}

	.title-page .container::after{
		bottom:-32px;
	}
}