/*Price-list
================================*/
.body-gray{
	background-image: url(imgages/BackGround_2.jpg);
	background-repeat: repeat;
	background-color: #fff;
}

.main-black{
	color:#000;
}

/*Header-price
================================*/
.header-price nav{
	flex-direction: row;
}

.nav_main_logo-price{
	width: auto;
	height: auto;

	order:0;
}

/*main-list-title
================================*/
.main-list-title{
	margin-bottom: 50px;
}

.main-list-title h2{
	font-size: 30px;
}



.tree_links{
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
}

.tree_link{
	position: relative;
	cursor: pointer;

	margin-left: 22px;
	margin-right: 18px;
}

.tree_link:hover{
	text-decoration: underline;
}

.tree_link::before{
	content:"";
	display: block;
	width: 8px;
	height: 8px;
	
	position: absolute;
	top: 8px;
   left: -22px;

	border:1px solid #757472;
	border-radius: 1px;
	background-color: #000;

	transform: rotate(-45deg);
}

.tree_link:first-child{
	margin-left: 0;
}

.tree_link:first-child::before{
	display: none;
}

.tree_link.active{
	cursor: default;
	color:#d0d0d0;
}

.tree_link.active:hover{
	text-decoration: none;
}

.tree_link.active a{
	cursor: default;
	color:#d0d0d0;
}

.tree_link a{
	text-decoration: none;
	color:#000;
}

/*main-content
================================*/
.main_content{
	display: flex;
	flex-direction: column;
}

.main_content > h2{
	display: flex;
	align-items: center;
	flex-grow: 1;

	font-size: 48px;
	margin:0;
	margin-bottom: 55px;
	margin-top: 5px;
}

.main_content > h2::before,
.main_content > h2::after{
	content:"";
	display: block;

	min-width: 160px;
	height: 2px;

	background-color: #000;
}

.main_content > h2::before{
	margin-right: 25px;
}

.main_content > h2::after{
	margin-left: 25px;
}

.content_row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-bottom: 60px;
}

.content_row h3{
	font-size: 24px;
	margin: 0;
	margin-bottom: 30px;
}

/*Our Tools
================================*/
.our_tools{
	width: 50%;
}

.custom_list_1{
	margin: 0;
	padding: 0;
	list-style: none;
}

.custom_list_1 li{
	position: relative;
	line-height: 24px;

	padding-left: 20px;
	margin-bottom: 14px;
}

.custom_list_1 li:last-child{
	margin-bottom: 0;
}

.custom_list_1 li::before{
	content:"";
	display: block;
	width: 8px;
	height: 8px;
	
	position: absolute;
	top: 8px;
   left: 0;

	border:1px solid #757472;
	border-radius: 1px;
	background-color: #000;

	transform: rotate(-45deg);
}

.custom_list_2 li{
	margin-bottom: 0px;
}


/*price_list
================================*/
.price{
	width: 50%;
}

.price_list{
	width: 100%;

	border-collapse: collapse;
}

.price_list td{
	width: 50%;

	padding: 10px 17px;
	
	border:2px solid #000;
	background-color: #fff;
}

.price_list td:last-child{
	text-align: center;
}

/*info_about_us
================================*/
.info_about_us_title{
	font-size: 24px;
	margin: 0;
	margin-bottom: 30px;
}

.info_about_us{
	width: 50%;
}

.info_about_us p{
	font-size: 14px;
	padding-right: 80px;
	color:#000;
}

