body{
	position: relative;

	margin: 0;
	padding: 0;
	
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	-webkit-font-smoothing: subpixel-antialiased;
	text-transform: uppercase;
	color:#f7f4f1;
	


	background-image: url(imgages/BackGround.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}


img{
	display: block;
	min-width: 100%;
	height: auto;
}

*,*::before,*::after{
	box-sizing: border-box;
}


.container{
	width: 100%;
	max-width: 950px;
	
	margin: 0 auto;
	padding: 0px 5px;
}

.btn{
	display: block;
	cursor: pointer;
	
	width: 100%;
	max-width: 140px;
	min-height: 45px;

	margin: 0;
	padding: 0;
	border:0;
	background-color: #000;

	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;

	color:#f7f4f1;
}

.btn:hover,
.btn:focus{
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled{
	cursor: default;
	opacity: 0.7;
	background-color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/*HEADER
================================*/
.header nav{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-price nav{
	flex-direction: row;
}

.nav_main_logo{
	display: block;
	margin: 0;
	padding: 0;

	width: 371px;
	height: 155px;
	font-size: 0;
	margin-bottom: 70px;

	order: 1;
}

.nav_main_logo-price{
	width: auto;
	height: auto;

	order:0;
}


.header-top{
	width: 100%;
	min-height: 72px;
	background-color: #000;

	margin-bottom: 60px;
}

.header-top .container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	min-height: 72px;
}

.site-nav{
	display: flex;
	flex-wrap: wrap;
	max-width: 545px;

	font-size: 16px;
}

.nav_link{
	position: relative;
	display: block;

	margin: 0;
	padding: 0;
	text-decoration: none;
	color:#FFF;

	padding: 25px 20px;
}

.nav_link:hover{
	background-color: #242424;
}

.nav_link.active::after{
	content:"";
	display: block;
	
	position: absolute;
	left:0;
	bottom:0;

	width: calc(100% - 40px);
	height: 4px;
	margin-left: 20px;

	background-color: #fff;
}

.site-nav-price{
	max-width: 700px;
}

.user_nav{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	max-width: 120px;
	min-height: 72px;
}

.btn-login{
	position: relative;
	font-size: 16px;

	min-width: auto;
	min-height: auto;
	padding: 25px 20px;
	padding-left: 70px;

	color:#FFF;
}

.btn-login::before{
	content:url(svg/login.svg);
	display: block;
	
	position: absolute;
	left: 39px;
   top: 28px;

   opacity: .3;
}


.btn-login:hover{
	background-color: #242424;
}

.btn-login:hover::before{
	opacity: 1;
}

.btn-link{
	display: block;
	max-width: 143px;
	min-height: 45px;

	margin: 0;
	padding: 10px;
	text-decoration: none;
	
	color:#FFF;
	background-color: #000;
}

/*Features
================================*/
.features{
	margin-bottom: 80px;
}

.features-list{
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style: none;
}

.features-list li{
	max-width: 290px;
	min-height: 160px;

	text-align: center;
}

.features-list h3{
	position: relative;
	margin: 0;
	padding: 0;

	font-size: 30px;
	margin-bottom: 70px;
}

.features-list h3::after{
	position: absolute;
	left: 50%;
	top:45px;
	margin-left: -10px;

	content:"";
	width: 20px;
	height: 20px;

	background-color: #fff;
	transform: rotate(45deg);
}

.features-list p{
	margin: 0;
}

.section_box {
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	
	padding: 50px 80px;
	margin-bottom: 36px;

	color:#000;
	background-color: #fff;

	background-image: url(imgages/Sections.jpg),
	url(imgages/BackGround.jpg);
	background-position: 0 0,center;
	background-repeat: repeat,no-repeat;
}

.section_box h2{
	font-size: 30px;
	margin: 0;
	margin-bottom: 30px;
}

.news {
	position: relative;
	width: 380px;
	min-height: 315px;
}

.news ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.news li{
	margin-bottom: 20px;
}

.news p{
	margin: 0;
}

.news time{
	text-transform: none;
}

.news_item{
	display: block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:inherit;
}

.btn-news{
	position: absolute;
	left:0;
	bottom:0;
}

.gallery {
	position: relative;
	width: 300px;
	min-height: 315px;
}

.gallery ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.photo_box {
	position: relative;

	width: 300px;
	height: 178px;
	
	overflow: hidden;

	border:7px solid #FFF;
}

.photo_box img{
	position: absolute;
	left:0;
	top:0;

	height: 100%;
}

.gallery_btns {
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/*Information
================================*/
.information{
	width: 380px;
}

.information_box .information_text{
	margin-bottom: 30px;
}

.information_text:last-child{
	margin-bottom: 25px;
}

.information_btns{
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.information_btns li{
	margin-right: 20px;
}


/*Sign_up
================================*/
.sign_up{
	width: 300px;
}

.inputs_list{
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inputs_list li{
	width: 140px;
	height: 70px;

	margin-bottom: 15px;
}

.inputs_list label{
	display: block;

	margin-left:15px;
	margin-bottom: 5px;
}

.inputs_list input{
	width: 100%;
	padding: 10px 15px;

	border: 2px solid #000;

	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.inputs_list input::placeholder{
	color:#000;
	opacity: .7;

	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
}

.inputs_list input:hover{
	border-color: #663d15;
}

.btn-sign_up{
	width: 100%;
	margin-top: 20px;
}

/*Footer
================================*/
.footer{
	width: 100%;
	background-image: url(imgages/Footer.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-color: #252525;

	padding: 60px 0 40px;
	text-align: center;
}

.footer .container{
	display: flex;
}

.contact_info{
	width: 320px;

	margin-right: 80px;
	text-align: left;
}

.contact_info a{
	color:#FFF;
	text-decoration: underline;
}

.social{
	width: 140px;
}

.social p{
	margin-bottom: 15px;
}

.social_list{
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	list-style: none;
}

.social_list a{
	width: 43px;
	height: 43px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #000;
}

.social_list a:hover{
	background-color: #fff;
}

.social_list a:hover path{
	fill:#000;
}

.copyright{
	width: 140px;
	margin-left: auto;
}

.btn-copyright:hover{
	color:#000;
	background-color: #fff;
}


/*Modal
================================*/
.modal{
	position: absolute;
	padding: 55px 80px;
	padding-bottom: 58px;

	color:#000;

	background-color: #fff;
	background-image: url(imgages/Sections_bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat;

	box-shadow: 0 30px 50px rgba(0,0,0,0.7);
}


.close_modal_btn{
	position: absolute;
	right:-40px;
	top:5px;

	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
	
	border:0;

	background-color: transparent;
}

.close_modal_btn::before,
.close_modal_btn::after{
	position: absolute;
	top: 12.5px;
   left: 3px;

	content:"";
	display: block;

	width: 25px;
	height: 5px;
	border-radius: 1.5px;

	background-color: #d0d0d0;

}

.close_modal_btn::before{
	transform: rotate(-45deg);
}

.close_modal_btn::after{
	transform: rotate(45deg);
}

.close_modal_btn:hover{
	background-color: #663d15;
}

.close_modal_btn:hover::before,
.close_modal_btn:hover::after{
	background-color: #FFF;
}

/*Modal-login
================================*/
.modal-login{
	position: absolute;
	top:120px;
	left:50%;
	
	display: none;

	margin-left: -230px;
}

.modal-login button{
	max-width: 100%;
}

.login_box{
	width: 300px;

}

.login_box h2{
	font-size: 30px;

	margin-top: 0;
}


.input_password,
.input_login{
	position: relative;
	width: 100%;
	padding:10px 15px;

	font:inherit;
	text-transform: uppercase;

	border: 2px	solid #000;
}

.login_box input::placeholder{
	color:#000;
	font:inherit;
	text-transform: uppercase;
}

.login_box input:hover{
	border-color: #663d15;
}

.login-form button{
	width: 100%;
}

.input{
	position: relative;

}

.login_icon,
.password_icon{
	position: absolute;
	right:13px;
	top:50%;

	transform: translateY(-50%);
}

.login-remember-me{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 15px 0;
}

.login-remember-me a{
	color:#000;
}

.remember_me{
	position: relative;
	padding-left: 30px;

	cursor: pointer;
}

.remember_me input[type="checkbox"]+.remember_me_indicator{
	position: absolute;
	left: 0;
	top: 50%;

	display: block;
	width: 21px;
	height: 21px;

	border:2px solid #000;

	background-color: #fff;

	transform: translateY(-50%);
}

.remember_me input[type="checkbox"]:checked+.remember_me_indicator::before,
.remember_me input[type="checkbox"]:checked+.remember_me_indicator::after{
	content:"";
	display: block;
	width: 15px;
	height: 2px;
	
	position: absolute;
	top:8px;
	left:1px;

	background-color: #000;
}

.remember_me input[type="checkbox"]:checked+.remember_me_indicator::before{
	transform: rotate(-45deg);
}

.remember_me input[type="checkbox"]:checked+.remember_me_indicator::after{
	transform: rotate(45deg);
}



/*Modal-map
================================*/
.modal-map{
	position: absolute;
	top:50%;
	left:50%;
	
	display: none;

	padding: 10px;
	transform: translate3d(-50%,-50%,0);
}

.modal-map.modal_show{
	animation: bounce-map .6s;
}

.modal_show{
	display: block;

	animation: bounce .6s;
}

.modal-error{
	animation-name: modal-error;
	animation-duration: 0.6s;
}

.map_box{
	width: 766px;
	height: 560px;

	overflow: hidden;
}

.map_box p {
	margin: 0;
	padding: 0;
}

.map_box img{

	display: block;
	width: 100%;

	z-index: 1;
}

.map_box iframe{
	z-index: 2;
}


/*Slider*/
.slide_item{
	min-width: 100%;
}

.fade{
	animation: fade_move_slider .6s;
}

/*Animation*/
@keyframes bounce{
	0% 	{ transform: translateY(-2000px); }
	70% 	{ transform: translateY(30px); }
	90% 	{ transform: translateY(-10px); }
	100% 	{ transform: translateY(0); }
}

@keyframes bounce-map{
	0% 	{ 	transform: translate3d(-50%,-3000px,0);}
	70% 	{	transform: translate3d(-50%,-30%,0); 	}
	90% 	{ 	transform: translate3d(-50%,-60%,0); 	}
	100% 	{ 	transform: translate3d(-50%, -50%,0); 	}
}

@keyframes modal-error{
	0%, 100% 					{transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80%  		{transform: translateX(10px);}
}

@keyframes fade{
	0%		{ opacity: .3 }
	100%	{ opacity: 	1 }
}

@keyframes fade_move_slider{
	0%		{transform:translateX(10%); 	opacity: 0}
	100%	{transform:translateX(0); 	opacity: 1}
}