body{
	position: relative;

	margin: 0;
	padding: 0;
	
	font-family: "Gilory";
	font-size: 18px;
	font-weight: 900;
}

*,*::before,*::after{
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;

	padding: 0px 5px;
}

.container-catalog{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;

	padding: 0px 5px;
	
	padding-left: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/*Multiclasses
===================================*/
.icon-before{
	position: relative;
	padding-left: 27px;
}

.icon-before::before{
	content:"";
	position: absolute;
	left: 0;
	top:50%;

	width: auto;
	height: auto;

	transform: translateY(-50%);
}

.btn{
	font: inherit;

	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
}

.list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.cross-out{
	position: relative;
	display: inline-block;
	
	outline: 0;

	padding: 9px 38px;
	padding-left: 42px;
	letter-spacing: 4px;
	
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	color:#000;

	z-index: 0;
}

.cross-out::after{
	content: '';
	display: block;

	position: absolute;
	top:50%;
	left:0;
	
	margin-top: -4px;

	width: 100%;
	height: 8px;
	
	background-color: #f0c52e;

	z-index: -1;
}

.cross-out:hover::after,
.cross-out:focus::after{
	height: 100%;
	top:0;

	margin-top: 0;		
}

.cross-out:active{
	color: rgba(0,0,0,0.3);
}

.hidde{
	display: none;
}
/*HEADER
===================================*/
.header{
	margin-top: 40px;
	color:#000;
}

.header-nav{
	width: 100%;
	height: 186px;

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding-top: 30px;
}

.header-nav.active{
	z-index: 3;
}

.header-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.header-nav a{
	color:inherit;
	text-decoration: none;
}

.header-nav a:hover,
.header-nav a:focus{
	outline: 0;
	opacity: .6;
}

.header-nav a:active{
	opacity: .3;
}

.header-row:last-child{
	margin-bottom: 0;
}

.index-logo {
	position: absolute;
	top:-19px;
	left:60px;
}

.header-bg{
	position: absolute;
	top:0;
	left:0;

	width: 100%;
	min-height: 186px;

	background-color: #f7e296;

	z-index: -1;
}

.header-bg.main-page{
	min-height: 300px;
}

/*USER NAVIGATION
===================================*/
.user-navigation-row {
	width: 100%;
	max-width: 1040px;

	display: flex;
	align-items: center;
	flex-wrap:wrap;
	justify-content: space-between;

	font-family: "OpenSans";
	font-weight: normal;
	font-size: 15px;

	margin-bottom: 30px;
}

.search-container{
	position: relative;
	max-width: 441px;
	max-height: 49px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.search-container img{
	position: absolute;
	top:50%;
	left: 0;	

	transform: translateY(-50%);
}

.search-container input{
	position: relative;
	width: 335px;
	height: 49px;		

	font:inherit;
	padding: 0px 20px;
	padding-left: 40px;	

	border:0;
	background-color: transparent;
}

.search-container input::placeholder{
	font:inherit;
	
	color:inherit;
	opacity:.3; 
}

.search-container input:hover::placeholder{
	font:inherit;
	
	color:inherit;
	opacity:.6; 
}

.search-container input:focus{
		outline: 0;

		border-bottom:2px solid #000;
}

.search-container input:focus + .search-button{
	opacity: 1;

	font:inherit;
	cursor: pointer;
	width: 85px;	
	height: 49px;	

	margin: 0;
	
	padding: 0;
	border:2px solid #000;	

	font-size: 15px;	
}

.search-container .active-search{
	outline: 0;

	border-bottom:2px solid #000;
}

.search-button{
	opacity: 0;
	width: 0;	
	height: 0;	

	padding: 0;	
	margin: 0;	
	
	border:0;

	font-size: 0;	

	background-color: transparent;		
}

.search-button:hover,
.search-button:focus{
	background-color: #000;
	color: #FFF;
}

.search-button:focus{
	outline: 0;
	display: block;

	font:inherit;
	cursor: pointer;
	width: 85px;	
	height: 49px;	

	margin: 0;
	
	padding: 0;
	border:2px solid #000;
	background-color: #000;

	opacity: 1;

	font-size: 15px;
}

.search-button:active{
	color: rgba(255,255,255,.3);
}


.user-navigation {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

.user-navigation ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 220px;
}

.user-navigation svg{
	margin-right: 10px;
}

.nav-login{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.nav-login.hidde{
	display: none;
}

.nav-login .svg{
	order:0;
}

.login-btn{
	cursor: pointer;

	margin: 0;
	padding: 0;
	padding-right: 0;

	border: 0;
	background-color: transparent;

	font:inherit;
	
	order:2;
}

.login-btn.exit{
	opacity: .3;
}

.login-btn:focus,
.login-btn:hover,
.login-btn:focus + .svg,
.login-btn:hover + .svg{
	outline: 0;
	opacity: .6;
}

.login-btn:active,
.login-btn:active + .svg{
	opacity: .3;
}

.login-user-name {
	order:1;

	margin-right: 20px;
}

/*SITE NAVIGATION
===================================*/
.site-navigation-row {
	width: 100%;
	max-width: 1040px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	font-family: 'Gilory';
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3px;

	margin-bottom: 35px;
}

.catalog-btn {
	position: relative;

	margin: 0;
	padding: 0;
	border:0;
	background-color: transparent;

	font: inherit;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 3px;

	padding-right: 30px;
}

.catalog-btn::before,
.catalog-btn::after{
	content: "";
	position: absolute;
	right:0;
	top:50%;
	margin-top: -1px;

	width: 16px;
	height: 2px;

	background-color: #b8a974;
}

.catalog-btn::after{
	transform: rotate(90deg);
}

.catalog-btn:hover,
.catalog-btn:focus{
	outline: 0;
	color: rgba(0,0,0,.6);
}

.catalog-btn:hover::before,
.catalog-btn:hover::after,
.catalog-btn:focus::before,
.catalog-btn:focus::after{
	background-color: #b8a974;
}

.catalog-btn:active{
	color: rgba(0,0,0,.3);
}

.catalog-btn:active::before,
.catalog-btn:active::after{
	background-color: #b8a974;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 500px;
}

.site-navigation-left{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 270px;
}

/*Catalog-list
===================================*/
.catalog-container{
	width: 100%;
	padding: 0px 60px;
	padding-bottom: 44px;
	display: none;
	
	z-index: 100;
	background-color: #f7e296;
}

.catalog-container.show{
	display: block;
}

.catalog-list{
	display: flex;
	flex-wrap: wrap;

	background-color: #f7e296;
}

.catalog-column{
	font-family: 'OpenSans';
	font-weight: normal;
	font-size: 15px;

	margin-right: 50px;
}

.catalog-column:nth-child(2){
	margin-right: 70px;
}

.catalog-column li{
	margin-bottom: 15px;
}

.catalog-column li:last-child{
	margin-bottom: 0;
}

.catalog-column a{
	color:#000;
	text-decoration: none;
}

/*Main
===================================*/
.main{
	z-index: 2;
}

/*Slider
===================================*/
.slider{
	z-index: 2;

	width: 100%;
	max-width: 1160px;

	margin: 0 auto;
	margin-top: -6px;
	margin-bottom: 100px;
}

.slider .container{
	display: flex;
}

.slider-item {
	position: relative;

	display: flex;
	justify-content: space-between;

	min-height: 500px;

	animation: slide-item .6s;
}

.slider-item-img {
	position: relative;
	width: 560px;
}

.slider-item-img img{
	display: block;
	position: absolute;
	max-width: 100%;

	top:50%;
	left:50%;

	transform: translate3d(-50%,-50%,0);
}

.slider-item-description {
	width: 560px;
	padding-top: 88px;
	padding-right: 89px;
}

.slider-item-description h4{
	position: relative;
	width: 500px;

	font-size: 47px;
	line-height: 56px;

	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.slider-item-description h4::before{
	content: "";
	display: block;
	
	position: absolute;
	top: -42px;
	left:0;

	width: 100px;
	height: 7px;

	background-color: #fff;
}

.slider-item-description p{
	width: 480px;

	margin: 0;
	margin-bottom: 60px;

	font-family: 'OpenSans';
	font-weight: lighter;
	font-size: 15px;
	line-height: 30px;
	
	color: #464646;
}

.slider-dots-container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 60px;
}

.detailed-btn{
	position: relative;
	display: inline-block;
	width: 220px;

	text-align: center;
	
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 4px;

	color:#000;
	text-decoration: none;
}

.slider-dots {
	display: flex;
	flex-wrap: wrap;

	width: 80px;
}

.slider-dot {
	position: relative;
	display: block;

	width: 12px;
	height: 12px;
	
	margin: 0;
	padding: 0;
	background-color: transparent;

	margin-top: 21px;
	margin-right: 21px;

	border-radius: 50%;
	border: 1px solid #000;
	background-color: #fff;
}

.slider-dot:first-child,
.slider-dot:nth-child(2),
.slider-dot:nth-child(3){
	margin-top: 0;
}

.slider-dot:nth-child(3n){
	margin-right: 0;
}

.slider-dot.active::after{
	content: "";
	display: block;
	position: absolute;

	top:50%;
	left:50%;

	width: 5px;
	height: 5px;

	border-radius: 50%;
	border: 1px solid #000;
	background-color: #fff;

	transform: translate3d(-50%,-50%,0);
}

.parameters {
	display: flex;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	list-style: none;
}

.parameters p{
	margin-bottom: 10px;

	font-family: 'Gilory';
	font-weight: normal;
	font-size: 36px;

	color:#000;
}

.parameters span{
	font-family: 'OpenSans';
	font-weight: lighter;
	font-size: 13px;

	color:#464646;
}

.parameters li:first-child{
	width: 160px;
}

.parameters li:nth-child(2n){
	width: 140px;
}

.parameters li:nth-child(3n){
	width: 160px;
}


.slide-index{
	position: absolute;
	top:-3px;
	right:71px;
	
	line-height: 179.2px;
	font-size: 179.2px;
	color:#FFF;

	z-index: -1;
}

/*Popular
===================================*/
.popular{
	margin-bottom: 80px;
}

.popular-list{
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
}

.popular-list a{
	outline: 0;

	margin: 0;	
	padding: 0;	
	text-decoration: none;	
	color:#000;
}

.popular-item{
	display: inline-block;
	width: 160px;
}

.popular-item:hover .popular-img,
.popular-item:focus .popular-img,
.popular-item:active .popular-img{
	background-color: #f0c52e;
}

.popular-item:active .popular-img img,
.popular-item:active p{
	opacity: .3;
}

.popular-img{
	display: flex;
	justify-content: center;
	align-items: center;	

	width: 160px;	
	height: 160px;	

	background-color: #f7e296;
	transition: background-color .2s linear;
}

.popular-img.monopods{
	align-items: flex-end;
}

/*Info for user
===================================*/
.info-for-user{
	position: relative;

	margin-bottom: 169px;
}

.info-for-user .container{
	display: flex;
	flex-wrap: wrap;
	min-height: 319px;
}

.selector-for-user{
	width: 284px;
	padding-top: 80px;

	border-right:7px solid #000;
}

.selector-for-user .selector-btn{
	width: 100%;
	height: 40px;
	
	text-align: left;

	margin-bottom: 25px;

}

.selector-btn span{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 160px;
	height: 40px;

	font-size: 18px;
	text-transform: uppercase;
}

.selector-btn:focus{
	outline: 0;
}

.selector-btn.selector-active:focus{
	box-shadow: 0 0 10px 5px  rgba(0,0,0,0.3);
}

.selector-btn span:hover,
.selector-btn:focus span{
	background-color: #f0c52e;
}
.selector-btn.selector-active .cross-out::after,
.selector-btn .cross-out:hover::after,
.selector-btn:focus .cross-out::after,
.selector-btn:active .cross-out::after{
	opacity: 0;
}
.selector-btn.selector-active,
.selector-btn.selector-active span,
.selector-btn:active,
.selector-btn:active span{
	outline: 0;
	color:#f7e184;
	background-color: #000;
}


.content-for-user{
	position: relative;
	max-width: 876px;

	margin-top: 80px;
	padding-left: 117px;
	padding-right: 325px;
}

.content-for-user-item{
	display: none;
}

.content-for-user-item.show{
	display: block;
}

.content-for-user-item h3{
	font-size: 47px;
	line-height: 36px;

	margin: 0;
	margin-bottom: 40px;
}

.content-for-user-item p{
	width: 460px;
	margin: 0;

	font-family:"OpenSans";

	font-size: 15px;
	line-height: 30px;
	color:#464646;
}

.content-for-user-item img{
	display: block;
	position: absolute;
	
	max-width: 210px;
	max-height: 210px;
	top:0;
	right:67px;

}

.bg-info-for-user{
	position: absolute;
	top:100px;
	z-index: -1;

	width: 100%;
	height: 288px;

	background-color: #e5e5e5;
}

/*Logos
===================================*/
.logos{
	margin-bottom: 90px;
}

.logos-list{
	width: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logos-list li{
	position: relative;
	width: 260px;
	min-height: 100px;
}

.logos-list a:focus{
	outline: 0;
}

.logos-list a:hover .logo-color,
.logos-list a:focus .logo-color{
	opacity: 1;
}

.logos-list img{
	display: block;
	width: 260px;
	height: auto;

	position: absolute;
	top:0;
	left:0;
}

.logo-no-color{
	z-index: 0;
}


.logo-color{
	opacity: 0;
	
	transition: opacity .3s linear;
	z-index: 1;
}

/*Info-about-us
===================================*/
.info-about-us{
	margin-bottom: 90px;
}

.info-about-us .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.info-about-us-column{
	position: relative;

	min-height: 570px;
}

.info-about-us-column::before{
	content: '';
	display: block;

	position: absolute;
	width: 80px;
	height: 7px;

	background-color: #000;
}

.info-about-us-column h2{
	font-size: 47px;
	
	margin: 0;
	margin: 45px 0px;
}

.info-about-us-column p{
	margin: 0;
	margin-bottom: 35px;

	font-family: 'OpenSans';
	font-size: 15px;
	font-weight: lighter;

	line-height: 30px;

	color:#464646;
}

.info-about-us-column .cross-out{
	position: absolute;
	left: 0;
	bottom: 0;

	min-width: 260px;
	padding-left: 27px;
	padding-right: 22px;
}

.about-us {
	width: 100%;
	max-width: 475px;
}

.our-company ul{
	margin-top: 70px;
}

.our-company li{
	position: relative;

	margin-bottom: 20px;
	padding-left: 35px;
}

.our-company li::before{
	content: '';
	display: block;

	position: absolute;
	top:50%;
	left:1px;
	margin-top: -3px;

	width: 8px;
	height: 8px;
	
	border-radius: 50%;
	border: 2px solid #e6e6e6;
	background-color: #fff;
}

.our-company li:last-child{
	margin-bottom: 0;
}

.contacts {
	width: 100%;
	max-width: 560px;
}
.map-img {
	width: 562px;
	height: 222px;
}

.map-img img{
	max-width: 100%;
}

.map-img button{
	width: 100%;
	height: 100%;
	
	cursor: pointer;

	border:0;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

/*Footer
===================================*/
.footer-main{
	padding: 65px 0;

	background-color: #464646;
	color:#FFF;
}

/*Footer-header
===================================*/
.footer-header{
	margin-bottom: 65px;
}

.header-nav-footer{
	padding: 0;
	height: auto;
}

.header-nav-footer a:hover,
.header-nav-footer a:active{
	opacity: 1;
}

.footer-header .user-navigation-row{
	max-width: 100%;
	margin-bottom: 35px;
}

.index-logo-footer{
	position: static;
}

.index-logo-footer path{
	fill:#ffc600;
}

.index-logo-footer a:hover,
.index-logo-footer a:focus{
	outline: 0;
	opacity: .6;
}

.index-logo-footer a:active{
	opacity: .3;
}


.site-navigation-footer{
	max-width: 100%;
}

.user-navigation-footer button{
	color:#FFF;
	opacity: .7;
}

.user-navigation-footer{
	max-width: 500px;
}

.user-navigation-footer svg,
.user-navigation-footer path{
	fill:#ffc600;
}

.user-navigation-footer ul{
	width: 100%;
	justify-content: flex-end;
}

.user-navigation-footer ul li{
	margin-right: 35px;
}

.user-navigation-footer ul li:last-child{
	margin-right: 0;
}

.login-container-footer{
	display: flex;
}

.login-container-footer button{
	order: 2;
}

.login-container-footer button:focus,
.login-container-footer:hover button{
	outline: 0;
	opacity: 1;
}

.login-container-footer button:focus + .svg{
	outline: 0;
	opacity: .6;
}

.login-container-footer svg{
	order: 1;
}

.login-container-footer:hover svg{
	opacity: .6;
}

.login-container-footer:active{
	opacity: .3;
}

.login-container-footer button:focus{
	outline: 0;
	opacity: 1;
}

.user-navigation-footer .user-link-text{
	opacity: .7;
}

.user-navigation-footer .user-link:focus{
	outline: 0;
}

.user-navigation-footer .user-link:hover .svg,
.user-navigation-footer .user-link:focus .svg{
	opacity: .6;
}

.user-navigation-footer .user-link:hover .user-link-text,
.user-navigation-footer .user-link:focus .user-link-text{
	opacity: 1;
}

.user-navigation-footer .user-link:active{
	opacity: .3;
}

.footer-header .site-navigation-row{
	max-width: 100%;
	margin-bottom: 0;
}

.site-navigation-footer {
	width: 100%;
}

.site-navigation-footer .site-navigation-left-footer{
	width: 440px;
}

.site-navigation-footer p{
	margin: 0;

	font-family: 'OpenSans';
	font-weight: normal;
	font-size: 15px;
	letter-spacing: 0;

	text-transform: none;
}

.site-navigation-left-footer a:hover,
.site-navigation-left-footer a:focus{
	outline: 0;
	opacity: .6;
}

.site-navigation-left-footer a:active{
	opacity: .3;
}



/*Footer-bottom
===================================*/
.footer-bottom{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
	align-items: center;
}

.footer-bottom .decor-element{
	width: 80px;
	height: 7px;

	background-color: #ffc600;
}

.social{
	width: 100%;
	max-width: 142px;

	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;
}

.social a{
	opacity: .3;
}

.social a:hover,
.social a:focus{
	outline: 0;
	opacity: 1;
}

.social a:active{
	opacity: .1;
}

.copyright a:hover,
.copyright a:focus{
	outline: 0;
	opacity: .6;
}

.copyright a:active{
	opacity: .3;
}

/*Modal
===================================*/
.modal-container{
	display: none;

	position: fixed;
	top:0;
	left:0;

	width: 100%;
	height: 100%;
	

	z-index: 1000;

	animation: modal .6s ease;
}

.modal-container.show{
	display: block;
}

.modal{
	width: auto;
	height: auto;
	box-shadow: 0 10px 20px 0 rgba(4,6,6,.2);
}

.modal-close-btn{
	position: relative;

	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;

	position: absolute;
	right:22px;
	top:20px;

	width: 55px;
	height: 55px;
	
	border-radius: 50%;
	background-color: #f0c52e;

	opacity: .5;
}

.modal-close-btn::before,
.modal-close-btn::after{
	content: "";
	display: block;

	width: 30px;
	height: 2px;

	background-color: #fff;

	position: absolute;
	top:50%;
	left: 50%;

	transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

.modal-close-btn::after{
	transform: translate3d(-50%,-50%,0) rotate(45deg);
}

/*Modal-login
===================================*/
.modal-login{
	position: absolute;
	top:50%;
	left: 50%;
	width: 100%;
	max-width: 960px;

	min-height: 553px;

	padding: 95px 100px 75px;

	transform: translate3d(-50%,-50%,0);
	background-color: #FFF;
}

.login-form{
	display: flex;
	flex-direction: column;
}

.login-form h3{
	margin: 0;
	padding: 0;

	font-size: 18px;
	margin-bottom: 10px;
}

.login-form input,
.login-form textarea{
	font-family: 'OpenSans';
	font-weight: normal;
	font-size: 14px;

	font-weight: lighter;
}

.login-form input,
.login-form textarea{
	padding-left: 20px;

	border: 0;
	background-color: rgba(229,229,229,.5);
}

.login-form input::placeholder,
.login-form textarea::placeholder{
	font:inherit;
	color: #464646;
	opacity: .4;
}

.login-form button[type="submit"]{
	font-family: "Gilory";
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 4px;

	width: 200px;
	padding-left:0;
	padding-right:0;

	padding-left: 4px;

	border: 0;
	background-color: transparent;
}


.login-list{
	display: flex;
	justify-content: space-between;
	width: 100%;

	margin-bottom: 35px;
}

.login-list input{
	width: 360px;
	height: 50px;
}

.user-comment{
	margin-bottom: 40px;
}

.user-comment textarea{
	width: 100%;
	height: 156px;
	
	padding-top: 15px;

	resize: none;
}

/*Modal-map
===================================*/
.modal-map{
	position: absolute;
	top:50%;
	left: 50%;
	width: 100%;
	max-width: 960px;
	max-height: 559px;
	
	overflow: hidden;

	padding: 0;

	transform: translate3d(-50%,-50%,0);
	background-color: #FFF;
}

.modal-map img{
	display: block;

	min-width: 100%;
	max-height: 100%;
}


/*Animation
===================================*/
@keyframes slide-item{
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}

@keyframes fade{
	0%		{opacity: 0;}
	100%	{opacity: 1;}
}

@keyframes modal{
	0%		{transform: translateY(-1200px);}
	70%	{transform: translateY(60px);}
	90%	{transform: translateY(-30px);}
	100%	{transform: translateY(0px);}
}


/*Font-face
===================================*/
@font-face{
	font-family: "Gilory";
	src: url(fonts/gilroy/Gilroyextrabold.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face{
	font-family: "Gilory";
	src: url(fonts/gilroy/Gilroylight.ttf) format("truetype");
	font-weight: lighter;
	font-style: normal;
}

@font-face{
	font-family: "OpenSans";
	src: url(fonts/open_sans/OpenSans-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: "OpenSans";
	src: url(fonts/open_sans/OpenSans-Light.ttf) format("truetype");
	font-weight: lighter;
	font-style: normal;
}
