footer{
	width: 100%;

	background-color: #222;
	color: $clr1;
}

.footer-container{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 auto;
}

.footer-nav{
	width: 100%;

	padding: 15px 20px;
}

.footer-nav-list{
	width: 100%;
	max-width: 900px;

	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	margin: 0 auto;
}

.footer-nav-item{
	width: 100%;
	max-width: 225px;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&:last-child{
		margin-right: 0;
	}

	&>.svg{
		margin-right: 10px;
	}

	svg{
		width: 15px;
		height: auto;

		fill:$clr1;
	}

	path{
		fill:$clr1;
	}

	p{
		margin: 0;

		font-weight: normal;
		font-size: 15px;
	}
}

.copyright{
	width: 100%;
	padding: 15px 20px;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color:$clr1;

	border-top: 1px solid rgba(234,234,234,0.5);

	p{
		margin: 0;
	}
}

@media(max-width:768px){
	.footer-nav-list{
		flex-direction: column;
	}

	.footer-nav-item{
		margin-bottom: 10px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}


@media(max-width:569px){
	.footer-nav{
		padding: 10px 20px;

		.social-list{
			a{
				width: auto;
				height: auto;
			}

			li{
				margin-right: 10px;
			}
		}
	}

	.footer-nav-item{
		margin-bottom: 7px;

		p{
			font-size: 13px;
		}
	}

	.copyright{
		padding: 10px 20px;

		font-size: 10px;
	}
}