$open_sans: Open_Sans;
$roboto: Roboto, sans-serif; // Roboto Font Family

$d_font_size: 20px;

$clr1:#eaeaea;
$clr2: #292929;
$clr3:#E78835;



@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@mixin default_btn($br,$bg,$clr){
	display: inline-block;
	margin: 0;
	padding: 0;

	min-height: 50px;
	padding: 12px 30px;

	text-decoration: none;
	text-align: center;
	font-family: $open_sans;
	font-size: 18px;
	font-weight: bold;
	color:$clr;

	background-color: $bg;

	border-radius: 5px;
	border:1px solid $br;

	transition: .3s ease;

	&:focus,
	&:hover{
		outline: 0;
		border-color: $br;
		background-color: $clr;
		color:$bg;
	}
}

@include font('Roboto', normal, 400, '/fonts/roboto-regular-webfont.woff2');
@include font('Roboto', normal, 700, '/fonts/roboto-bold-webfont.woff2');
@include font('Open_Sans', normal, 400, '/fonts/OpenSans-Regular.woff2');
@include font('Open_Sans', normal, 700, '/fonts/OpenSans-Bold.woff2');