.contacts{
	width: 100%;
	max-width: 360px;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 14px;
	font-weight: bold;
	color:$clr2;

	.social-list{
		margin-bottom: 15px;

		a{
			&:focus,
			&:hover{
				path{
					fill:$clr3;
				}
			}

			path{
				fill:$clr2;
			}
		}
	}

	p{
		margin: 0;
		margin-bottom: 15px;

		&:last-child{
			margin-bottom: 0;
		}
	}
}