.local-stores{
	width: 100%;
	max-width: 2060px;
	padding: 0 10px;
	margin: 0 auto;
}


/*Cities
================================*/
.cities {
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;

	width: 100%;
	max-width: 1240px;

	margin: 0 auto;
	margin-bottom: 62px;
}

.cities-item {
	width: 100%;
	max-width: 370px;

	text-align: left;
	text-transform: uppercase;
	line-height: 20px;

	color:#8e8c8c;
}

.cities-item h2{
	margin: 0;
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color:#575153;
}

.place-addres {
	margin: 0;
	margin-bottom: 10px;

	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;

	color:#727272;
}

.place-description {
	margin-bottom: 30px;

	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.2px;
	color:#8e8c8c;

	text-transform: none;
}

.detail-btn {
	width: 218px;
	height: 59px;

	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: uppercase;
	
	color:#454647;
	border:2px solid #737373;
	background-color: transparent;
}

.detail-btn:hover,
.detail-btn:focus{
	color:#fff;
	background-color: #00c8c8;
	border-color: #00c8c8;
}


/*Cities-description
================================*/
.local-stories-detail{
	width: 100%;
}

.local-stories-detail-item {
	display: flex;
	flex-grow: grow;

	width: 100%;
	min-height: 530px;

	background-color: #f8f8f8;
}

.map-container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	height: 530px;

	overflow: hidden;
}

.map-container img{
	display: block;
	position: absolute;
	right:-110px;
	bottom:-10px;
}

.detail-desctiption {
	width: 100%;
	max-width: 663px;

	padding: 43px 41px;
}

.detail-desctiption h2{
	margin: 0;
	margin-bottom: 15px;

	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color:#575153;
}

.detail-info-list.list{
	margin-bottom: 60px;
}

.detail-info-list li{
	position: relative;

	display: flex;
	align-items: center;

	margin-bottom: 15px;
	padding-left: 25px;

	font-size: 14px;
	font-weight: 400;
	color:#8e8c8c;
}

.detail-info-list svg {
	height: 17px;
	width: auto;
}

.detail-info-list path{
	fill:#8e8c8c;
}

.detail-info-list .svg{
	position: absolute;
	top:1px;
	left:0px;
}


.social-list.localStores{
	justify-content: flex-start;
}

.social-list.localStores svg{
	height:17px;
	width: auto;
}

.social-list.localStores path{
	fill:#fff;
}

.social-list.localStores li{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 30px;
	height: 30px;
	
	margin-right: 14px;
	border-radius: 50%;

	background-color: #727272;
}

.social-list.localStores li:hover{
	background-color: #00c8c8;
}

/*Media
==========================================*/
@media (max-width: 1919px) {
	.map-container img{
		right: 50%;
		bottom:50%;

		transform: translate(50%,50%);
	}
}

@media (max-width: 1200px) {
	.local-stories-detail-item{
		flex-wrap: wrap;
	}
	
	.cities{
		flex-direction: column;
		margin-bottom: 30px;
	}

	.cities-item{
		position: relative;

		max-width: 1100px;
		margin-bottom: 89px;
	}
	
	.detail-btn{
		position: absolute;
		right:0;
		bottom:-59px;
	}

	.map-container{
		max-width: 100%
	}
}

@media (max-width: 992px) {
	.map-container{
		height: 400px;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
	.detail-desctiption{
		padding: 10px;
		padding-top: 20px;
	}

	.map-container{
		height: 200px;
	}
}