.container{
	width: 100%;
	max-width: 1190px;
	
	padding: 0 10px;
	margin: 0 auto;
}

.svg{
	display: inline-block;
	line-height: 0;
}

.svg.arrow svg{
	transform: rotate(90deg);
}

.svg.arrow svg path{
	fill:#00c8c8;
}

/*Enter
==================================*/
.enter-container {
	width: 100%;

	font-family: Roboto;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;

	color:#8e8c8c;
}

.enter-container .container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.enter-column {
	width: 100%;
	max-width: 50%;
}

.enter-column h2{
	margin: 0;
	margin-bottom: 45px;

	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color:#575153;
}

/*Enter-form Inputs-list
===============================*/
.enter-column form{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.inputs-list.list{
	margin-bottom: 30px;
}

.inputs-list input[type="text"],
.inputs-list input[type="password"]{
	width: 100%;
	max-width: 550px;
	height: 50px;

	padding: 0 10px;

	font-family: Montserrat;
	font-size: 15px;
	font-weight: 500;

	color:#989898;

	border:1px solid #e7e7e7;
	background-color: #fff;
}

.inputs-list input[type="text"].err,
.inputs-list input[type="password"].err{
	border-color: #bb5465;
	background-color: #fcf6f7;
}

.inputs-list li{
	margin-bottom: 35px;
}

.inputs-list li:last-child{
	margin-bottom: 0;
}

/*Enter-btn
===============================*/
.enter-btn{
	height: 59px;

	font-size: 16px;
	font-family: Montserrat;
	font-weight: bold;

	text-transform: uppercase;
	background-color: transparent;
	border: 0;
}

.enter-btn.sign-in-btn{
	width: 149px;

	color:#fff;

	border: 2px solid #00c8c8;
	background-color: #00c8c8;
}

.enter-btn.create-account{
	width: 262px;
	
	color:#454647;

	background-color: #fff;
	border: 2px solid #737373;
}

/*Sign-im
==================================*/
.sign-in {
	padding-right: 35px;
}

.sign-in-action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.sign-in-btn:hover{
	color:#00c8c8;
	background-color: #fff;
}

.forgot-password {
	display: flex;
	align-items: center;

	color:#00c8c8;
	text-decoration: none;
}

.forgot-password .svg{
	margin-left: 4px;
}

.forgot-password:hover{
	text-decoration: underline;
}

/*Register
==================================*/
.register {
	padding-left: 35px;

	border-left: 1px solid #eeeeee;
}

.confirm-updates-container{
	display: flex;
	align-items: center;
}

.confirm-updates-checkbox{
	flex-shrink: 0;
	width: 24px;
	height: 24px;
	
	margin: 0;
	margin-right: 15px;

	border-radius: 0;
	border: 1px solid #e7e7e7;
}


.register-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.register-action p a{
	text-decoration: none;
	color:#00c8c8;
}

.register-action p a:hover{
	text-decoration: underline;
}

.create-account:hover{
	color:#fff;
	background-color: #737373;
}

/*Media
==========================================*/
@media (max-width: 1200px) {

}

@media (max-width: 992px) {
	.enter-column{
		max-width: 700px;
		margin-bottom: 35px;
	}

	.enter-column:last-child{
		margin-bottom: 0;
	}

	.register {
		padding: 0;
    	padding-top: 35px;
    	border:0;
    	border-top: 1px solid #eeeeee;
	}

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
	.register-action,
	.sign-in-action{
		flex-direction: column;
	}

	.register-action button,
	.sign-in-action button{
		margin-bottom: 10px;
	}
}